body{
    background-color: rgb(77, 197, 77);
}

#gloval_div{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

input[type="button"] {
    padding: 10px;
    background-color: rgb(245, 106, 0);
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

input[type="button"]:hover {
    padding: 10px;
    background-color: rgb(35, 35, 35);
    color: rgb(245, 106, 0);
    font-weight: bold;
}